

@font-face {
	font-family: roboto;
	src: url(fonte/robotoThin.ttf);
	font-weight: bold;
}

@font-face {
	font-family: robotoRegular;
	src: url(fonte/Roboto-Bold.ttf);
}
@font-face {
	font-family: robotoBold;
	src: url(fonte/Roboto-Regular.ttf);
}

h1,h2,h3.h4,p,a{
	font-family: roboto;
	-webkit-font-smoothing: antialiased;
}

/* html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
} */

a:active{
	border-style: none;
	border: 0px;
}

* {
	outline: none;
}

.jumbotron {
	font-family: Montserrat, sans-serif;
}

.jumbo {     
	padding: 20px;
}

.alert-fixed {
	position:fixed; 
	top: 0px; 
	right: 0px; 
	width: 40%;
	z-index:9999; 
	border-radius:0px
}


/* estilo para os botoes para transferencia */
.btn span.glyphicon {         
  	opacity: 0;       
}
.btn.active span.glyphicon {        
 	 opacity: 1;       
}

/*para as minhas transferencias*/
.panel-default>.panel-heading{
  	padding: 17px;
}

.panel-default>.panel-heading:hover {
    color: #ffffff;
    background-color: #80b3ff;
    border-color: #ddd;
}
/*para o PDF*/

a:focus, a:hover{
    text-decoration: none;
}

a.list-group-item,.pdfmaker{
  	background-color: #e6e6e6;
}

a.pdfmaker:hover{
	color: #ffffff;
	background-color: #ff5050;
}

.modal-header-success {
    color:#fff;
  	padding:16px 22px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-header-warning {
	color:#fff;
	padding:16px 22px;
	border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header-danger {
  	color:#fff;
    padding:16px 22px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
	padding:16px 22px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-header-primary {
  	color:#fff;
  	padding:16px 22px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green > .panel-heading {
	border-color: #5cb85c;
	color: white;
	background-color: #5cb85c;
}

.panel-green > a {
	color: #5cb85c;
	background-color: #5cb85c;
}
.panel-green > a:hover {
  	color: #3d8b3d;
}

.panel-red {
  	border-color: #d9534f;
}

.panel-red > .panel-heading {
	border-color: #d9534f;
	color: white;
	background-color: #d9534f;
}
.panel-red > a {
 	 color: #d9534f;
}
.panel-red > a:hover {
  	color: #b52b27;
}
.panel-yellow {
  	border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
	border-color: #f0ad4e;
	color: white;
	background-color: #f0ad4e;
}
.panel-yellow > a {
  	color: #f0ad4e;
}
.panel-yellow > a:hover {
  	color: #df8a13;
}

.panel-red > .panel-heading:hover {
  	background-color: #df706d;
}
.home_vermelho{   
   	color: #d1332e;
}
.home_vermelho:hover{   
   	color: #922420;
}

.panel-yellow > .panel-heading:hover {
   	background-color: #f3bd72;
}

.home_amarelo{   
   	color: #efa743;
}
.home_amarelo:hover{   
   	color: #a4660e;
}
	
.panel-green > .panel-heading:hover {
   	background-color: #83c983;
}
.home_verde{   
  	 color: #46a046;
}
.home_verde:hover{   
   	color: #275927;
}
.panel-primary > .panel-heading:hover {
   	background-color: #4c91cd;
}

/*para o HOME dashboard*/
.huge {
    font-size: 40px;
}

/*para a exibição das tabelas */
a.list-group-item, .tabela {
	background-color: #ffffff;
	
}

.titulo-adm{
 	margin: 1rem .4rem;
}
.titulo-adm h3{
	color: #444444;
	font-size: 3rem;
	text-transform: uppercase;
	border-bottom: 1px solid #ff5504;
	margin-bottom: 0;
	padding-left: 1rem;
	font-family: robotoBold;
}

.titulo-adm p{
	color: #6d6d6d;
	margin: 0;
	padding-left: 1rem;
	font-size: 1.7rem;
	text-transform: uppercase;
	font-family: roboto;
}

.produto-item{
	display: flex;
	background: #f5f5f5;
	padding: 1rem;
	margin-bottom: 1rem;
	align-items: center;

	transition: all .3s ease-in-out;
}
.produto-item p{
	font-size: 115%;
	margin: 0;
	line-height: 1;
	margin-bottom: .5rem;
}
.produto-item img{
	mix-blend-mode: multiply;
}

.produto-item .item-descricao{
	flex: 1;
	padding-left: 1rem;
}
.produto-item .item-descricao h4{
	font-family: robotoBold;
	color: #313131;
	font-size: 155%;
	margin-top: 0;
}

.produto-item .item-descricao p{
	font-size: 105%;
	color: #525252;
}

.produto-item:hover{
	transform: translateX(5px);
    background: #f1f1f1;
    box-shadow: 0px 0px 16px 0px #d6d6d6;
}

.btnSisconpat{
	border: none;
	background: #428bca;
	color: #fff;
	padding: .5rem 2rem;
	letter-spacing: 1.4px;
	border-bottom: 2.3px solid rgba(0, 0, 0, 0.5);
	transition: all .3s ease-in-out;
	position: relative;
	overflow: hidden;
	border-radius: 3px;

}

.btnSisconpat:hover{
	padding-left: 1rem;
	padding-right: 3rem;
	background: #306ca0;
}
.btnSisconpat span{
	position: absolute;
	right: -40px;
	color: #fff;
	transform: translate(-50%, -50%);
	top: 50%;
	font-size: 110%;
	transition: all .3s ease-in-out;
}
.btnSisconpat:hover span{
	right: 1px;
}

.btn-edicao{
	background: transparent;
    border: none;
    display: block;
	color: #575757;
	padding: .4rem;
	border-radius: 4px;
	font-size: 91%;
	font-family: robotoBold;

	transition: all .2s ease-in-out;
}
.btn-edicao:nth-child(1){
	margin-bottom: 1rem;
}
.btn-edicao span{
	font-size: 107%;

	display: block;
	
}
.btn-edicao:hover{
	color: #383838;
	background: #eeeeee;
}

.btn-edicao.danger{
	color: #b73a3a;
	
}



 